
<nav>
  <div class='nav-bar'>
    <h1>LOGO</h1>
    <div class ='nav-button'>

      <% if (user) { %>
        <span class='username'><%= user.name %></span>
        <a href="/logout">
          <button class='login-button'>Logout</button>
        </a>
        <% } else { %>
        <div>
          <a href="/login">
            <button class='login-button'>Login</button>
          </a>
        </div>
        <div>
          <a href="/sign-up">
            <button class='sign-up-button'>Sign Up</button>
          </a>
        </div>
      <% } %>

  </div>
</nav>

