
<nav>
  <div class='nav-bar'>
    <h1>LOGO</h1>
    <div class ='nav-button'>

      <% if (user) { %>
        <span>Logged in as <%= user.name %></span>
        <form method="POST" action="/logout">
          <button type="submit">Logout</button>
        </form>
        <% } else { %>
        <div>
          <a href="/login">
            <button class='login-button'>Login</button>
          </a>
        </div>
        <div>
          <a href="/sign-up">
            <button class='sign-up-button'>Sign Up</button>
          </a>
        </div>
      <% } %>

  </div>
</nav>

