<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart To Do List</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_navBar') %>

    <form action="/" method="POST" id="myForm">
      <textarea name="text" id="todo-text" wrap="soft" placeholder="Add a todo"></textarea>
      <div>
        <button class="add-button" type="submit">Add</button>
      </div>
    </form>

  </header>

  <main>

    <div id="to-watch-category" class="category1"> 
      <h1>To watch</h1>
      <div id="watch-todo-list" class="todo">
        <h3> To do 1</h3>
      </div>
    </div>

    <div class="category2"> 
      <h1>To eat</h1>
      <div id="eat-todo-list" class="todo">
        <h3> To do 1</h3>
      </div>
    </div>

    <div class="category3"> 
      <h1>To read</h1>
      <div class="todo">
        <h3> To do 1</h3>
      </div>
    </div>

    <div class="category4"> 
      <h1>To buy</h1>
      <div class="todo">
        <h3> To do 1</h3>
      </div>
    </div>

  </main>
  

</body>

</html>