div.error-message {
  display: none;

  width: 25%;
  margin: 15px auto;
  padding: 10px;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 10px;
  color: #cc0033;
  font-weight: bold;
  text-align: center;
}
