// See: https://sass-lang.com/

body,
html {
  margin: 0;

}

.logo-name h1 { 
  font-weight: normal !important;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A4969B;
  width: 100%;
  height: 100px;
  

  .logo-name {
    color: #483D3F; 
    font-size: 24px; 
    text-decoration: none; 
  }

  h1 {
    padding: 0 30px;
    font-size: 40px;
  }

  .nav-button {
    display: flex;
    align-items: center;
    padding: 0 30px;

    .login-button, .sign-up-button {
      padding: 8px 30px;
      margin: 0 5px;
      font-size: 16px;
      border-radius: 8px;
      border: 2px solid #878C8F;
    }

    .username {
      margin-right: 15px;
      font-weight: bold;
      font-size: 24px;
      color: #483D3F;;

      a {
        text-decoration: none;
        color: #483D3F;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}


.main-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  form {
    border: 2px solid #A4969B;
    border-radius: 20px;
    padding: 20px 40px;
  }

  .m-3 button {
    display: flex;
    justify-content: center;
    background-color: #878C8F;
    border: 2px solid #878C8F;
    margin: 0 auto;

  }
}

