
body {
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #483D3F;

  background-image: linear-gradient(rgba(252, 247, 255, 0.5), rgba(252, 247, 255, 0.5)), url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');
  background-size: auto;
  background-repeat: repeat; 
  

@media (min-width:760px) {


  #myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C4CAD0;
    min-height: 300px;


    #todo-text {
      display: block;
      width: 80%;
      padding: 12px;
      height: 45px;
      border: 1px solid #C4CAD0;
      border-radius: 4px;
      margin: 10px auto;
    }

    .add-button {
      background-color: #878C8F;
      font-size: 20px;
      padding: 8px 30px;
      margin: 0 5px;
      font-size: 16px;
      border-radius: 8px;
      border: 2px solid #878C8F
    }

  }


  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;

    .category {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      border: 1px solid #77685D;
      border-radius: 10px;
      width: 20%;
      min-height: 600px;
      align-items: center;
      // background-color: #C4CAD0;


      .todo-list {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #77685D;
        // background-color: #b4afab;
        // border: 10px 20px;

      }

      #eat-todo-list, #read-todo-list, #watch-todo-list, #buy-todo-list {
        width: 100%;
      }

      .todo {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #b4afab;
        border-radius: 10px;
        // background-color: #FCF7FF;
        margin: 10px;

        h3 {
          font-size: 24px;
        }
      }


        .edit-button, .delete-button {
          padding: 8px 15px;
          margin: 0 5px;
          font-size: 15px;
          border-radius: 8px;
          border: 2px solid #A4969B;
          background-color: #FCF7FF;
        }
      }
    }
  }



  }



