
body {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

@media (min-width:760px) {

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    width: 100%;

    h1 {
      padding: 0 30px;
    }

    .nav-button {
      display: flex;
      align-items: center;
      padding: 0 30px;

      .login-button, .sign-up-button {
        padding: 8px 30px;
        margin: 0 5px;
        font-size: 16px;
        border-radius: 8px;
        border: 2px solid #008CBA;;
      }

      .username {
        margin-right: 15px;
        font-weight: bold;
        font-size: 24px;

        a {
          text-decoration: none;
          color: black;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

  }

  #myForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    #todo-text {
      display: block;
      width: 80%;
      padding: 12px;
      height: 45px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin: 10px auto;
    }

    .add-button {
      background-color: #008CBA;
      font-size: 20px;
      padding: 8px 30px;
      margin: 0 5px;
      font-size: 16px;
      border-radius: 8px;
      border: 2px solid #008CBA;;
    }

  }


  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;

    .category {
      margin-top: 10px;
      border: 1px solid red;
      width: 20%;
      min-height: 600px;

      h1 {
        display: flex;
        justify-content: center;
      }

      .todo-list {
        display: flex;
        flex-direction: column;
      }

      .todo {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid red;
        margin: 10px;

        .todo-inputs {
          padding-bottom: 18px;
        }

        .todo-button {
          padding: 8px 30px;
          margin: 0 5px;
          font-size: 16px;
          border-radius: 8px;
          border: 2px solid #008CBA;;
        }
      }
    }
  }



  }



