
body {
  font-family: Arial, sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #483D3F;

  background-image: linear-gradient(rgba(252, 247, 255, 0.5), rgba(252, 247, 255, 0.5)), url('https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png');
  background-size: auto;
  background-repeat: repeat; 
  

  #myForm {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C4CAD0;
    min-height: 300px;
    background-image: url('https://images.unsplash.com/photo-1644329843491-99edfc83de04?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: repeat;
    background-position-y: 615px;
    background-position-x: center;
    opacity: 0.9;

    #todo-text {
      display: block;
      width: 80%;
      padding: 12px;
      height: 45px;
      border: 1px solid #C4CAD0;
      border-radius: 4px;
      margin: 30px 0 10px 0;
    }

    .add-button {
      background-color: #878C8F;
      padding: 8px 55px;
      margin: 0;
      font-size: 18px;
      border-radius: 8px;
      border: 2px solid #878C8F;
    }

  }


  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;

    .category {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      border: 1px solid #77685D;
      border-radius: 10px;
      width: 20%;
      min-height: 600px;
      align-items: center;
      // background-color: #C4CAD0;


      .todo-list {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #77685D;
        // background-color: #b4afab;
        // border: 10px 20px;

      }

      #eat-todo-list, #read-todo-list, #watch-todo-list, #buy-todo-list {
        width: 100%;
      }

      .todo {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #b4afab;
        border-radius: 10px;
        // background-color: #FCF7FF;
        margin: 10px;

        h3 {
          font-size: 24px;
        }
      }


        .edit-button, .delete-button {
          padding: 8px 15px;
          margin: 0 5px;
          font-size: 15px;
          border-radius: 8px;
          border: 2px solid #A4969B;
          background-color: #FCF7FF;
        }
      }
    }
  }



  



  // @media (min-width:760px) {

  // }